# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
Env/
env/
.env
.pytest_cache/
.coverage
.ruff_cache/
.ipynb_checkpoints/

# Dependencies
node_modules/
.uv/

# Project specific
protos/
test-data/
# Generated Protobuf files in src/
**/envoy/
**/udpa/
**/xds/
**/validate/
**/*_pb2.py
**/*_pb2.all
**/*_pb2_grpc.py

# Docker
.docker/
debug_build.log
.claude/
walkthrough.md
cert_mod.txt
